<body id="tableBody" *ngIf="datasize >= 0">

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>created At</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Type Of Leave</th>
        <th>Reason Of Leave</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of data">
        <td> {{format(group.createdAt)}} </td>
        <td>{{group.fromDate}}</td>
        <td>{{group.toDate}}</td>
        <td>{{group.typeOfLeave}}</td>
        <td>{{group.reasonOfLeave}}</td>
        <td>

          <button class="mat-raised-button" href="javascript:" (click)="openLeaveDialog(group)">
            <i class="fas fa-edit"></i>
            Edit
          </button>

          

          <button class="mat-raised-button" href="javascript:" (click)="onDeleteId(group.leaveID)">
            <i class="fa fa-trash" aria-hidden="true"></i>
            Delete
          </button>

        </td>
      </tr>
    </tbody>
  </table>



</body>