.edit-form {
   
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 20% !important;
    }
    
    input, textarea {
        margin-bottom: 2rem;
    }
    
    .btn{
        margin-bottom: 1rem;
    }
    h1{

        text-align: center;

    }